Control.py___jb_old___
GUI.py___jb_old___
.idea/dictionaries/Azzefj.xml
*.xml
.idea/misc.xml
.idea/Project-1---Algorythm-Analize.iml
.idea/workspace.xml
__pycache__/Backpack_Problem.cpython-34.pyc
*.pyc
*.xml
*.pyc
.idea/workspace.xml
*.pyc
.idea/workspace.xml